@use './buttons.scss';
@use './theme.scss';
@use './markdown.scss';

.header {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	cursor: pointer;

	margin-bottom: 3rem;

	.header-title {
		font-size: 24px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.header-subtitle {
		font-size: 14px;
	}
}

a {
	color: unset;
	text-decoration: none;
	font-weight: 600;
	transition: 0.2s ease-in-out;

	&:hover {
		border-bottom: 1px solid black;
	}
}