@use './buttons.scss';
@use './theme.scss';

.header {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	cursor: pointer;

	margin-bottom: 3rem;

	.header-title {
		font-size: 24px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.header-subtitle {
		font-size: 14px;
	}
}